CREATE DATABASE [diskbaseddb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'diskbaseddb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\diskbaseddb.mdf' , SIZE = 51200KB , FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'diskbaseddb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\diskbaseddb_log.ldf' , SIZE = 25600KB , FILEGROWTH = 5120KB )
GO
USE [diskbaseddb]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [diskbaseddb] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
